aiohttp
aiomysql
apscheduler
asyncio
dacite
dashscope
dotenv
httpx[socks]
langchain-community
langchain-google-genai
mcp
neomodel
numpy
openai
pandas
pillow
pymysql
sentence-transformers
skia-python
sqlalchemy
